.tabs {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: var(--darkest-gray-color);
    font-family: var(--sans-serif-fonts);
    font-weight: 300;
    border-bottom: 2px solid transparent;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    border-bottom: 2px solid var(--bright-blue-color);
}

/* Create an active/current tablink class */
.tabs button.active {
    border-bottom: 2px solid var(--indigo-color);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}