# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
db.old.sqlite3
*.sqlite3

# for testing
latest.dump
latest.sqlite3

media
dump.rdb
google-credentials

node_modules

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

.venv/*
venv/*

.env
staticfiles


makefile

.DS_Store
**.DS_Store**

todo.txt