{% include "header.html" %}
<body>
  <main class="text-center">
    <div>
      <h2>The Dispatch</h2>
    </div>
    <h3>
      {% if error %}
        {{ error }}
      {% else %}
        {% if request.user.active_project_id %}
          <br/><b><i>Active project:</i></b> {{request.user.active_project.name}}<hr/>
        {% endif %}
        To incorporate Azure DevOps into your Dispatch reports,
        <a href="https://app.vssps.visualstudio.com/oauth2/authorize?{{ azure_query }}"
          >authorize our (read-only) Azure DevOps app</a
        >
      {% endif %}
    </h3>
  </main>
</body>
